<div class="flex w-full">
  @for (tab of gameViewTabs; track tab.gameViewTab) {
    <icon-button
      class="flex-1"
      [ngClass]="{
        'z-index': Z_INDEXES.GAME_VIEW_NAVBAR
      }"
      [iconClass]="tab.iconClass"
      [iconString]="tab.iconString"
      [label]="tab.label"
      (clicked)="selectGameViewTab(tab.gameViewTab)"
      buttonClass="py-4"
      [buttonClassObj]="{
        'bg-gray-300 dark:bg-gray-900': selectedTab === tab.gameViewTab,
        'bg-gray-100 dark:bg-gray-700 hover:bg-slate-200 dark:hover:bg-slate-600 shadow-lg':
          selectedTab !== tab.gameViewTab
      }"
      [showBadge]="
        tab.gameViewTab === GameViewTab.Chat && numUnreadChatMessages > 0
      "
      [badgeCount]="numUnreadChatMessages"
    ></icon-button>
  }
</div>
