<div class="flex w-full">
  @for (tab of gameViewTabs; track tab.gameViewTab) {
    <icon-button
      class="flex-1"
      [iconClass]="tab.iconClass"
      [iconString]="tab.iconString"
      [label]="tab.label"
      (clicked)="selectGameViewTab(tab.gameViewTab)"
      buttonClass="py-2"
      [buttonClassObj]="{
        'bg-gray-300 dark:bg-gray-900': selectedTab === tab.gameViewTab,
        'bg-gray-100 dark:bg-gray-700 hover:bg-slate-100 dark:hover:bg-gray-700 shadow-lg':
          selectedTab !== tab.gameViewTab
      }"
    ></icon-button>
  }
</div>
