<div
  class="overflow-hidden"
  [ngStyle]="{
    'max-height': cardSize + 'px',
    'min-height': cardSize + 'px'
  }"
>
  @if (!isPlacingMultipleCards && !hasPendingDrawOffer) {
    <game-opponent-hand
      [cardSize]="cardSize"
      [numCards]="numCardsInOpponentsHand"
      [opaqueCards]="opaqueCards"
    ></game-opponent-hand>
  }

  @if (isPlacingMultipleCards) {
    <div class="flex justify-between">
      <div
        class="flex-1 rounded-sm bg-white dark:bg-gray-600 flex overflow-hidden shadow-md px-2"
        [ngStyle]="{
          'max-height': cardSize + 'px',
          'min-height': cardSize + 'px'
        }"
      >
        <div class="flex-1 flex flex-col justify-around">
          <icon-button
            data-testid="place-cards-button"
            iconString="check"
            iconClass="material-symbols-outlined"
            label="Place cards"
            buttonClass="rounded-sm hover:bg-slate-200 dark:hover:bg-slate-500"
            (clicked)="confirmPlaceMultipleCards()"
          ></icon-button>
        </div>

        <div class="flex-1 flex flex-col justify-around">
          <icon-button
            data-testid="cancel-place-cards-button"
            label="Cancel"
            iconString="close"
            iconClass="material-symbols-outlined"
            buttonClass="rounded-sm hover:bg-slate-200 dark:hover:bg-slate-500"
            (clicked)="cancelPlaceMultipleCards()"
          ></icon-button>
        </div>
      </div>

      <div
        class="flex flex-col justify-around h-full"
        [ngStyle]="{
          'max-height': cardSize + 'px',
          'min-height': cardSize + 'px'
        }"
      >
        <icon-button
          iconString="help"
          iconClass="material-symbols-outlined"
          buttonClass="p-2 lg:p-3 bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-800 rounded-r-sm"
          iconFontClass="text-md lg:text-2xl"
          matTooltip="Help"
          matTooltipPosition="below"
          (clicked)="showPlaceMultipleInfoMessage()"
        ></icon-button>
      </div>
    </div>
  }

  @if (!isPlacingMultipleCards && hasPendingDrawOffer) {
    <div
      class="buttons-container rounded-sm bg-white dark:bg-gray-700 flex justify-between overflow-hidden shadow-md flex"
    >
      <div
        class="px-2 font-semibold text-center flex flex-col justify-around flex-1"
        [ngStyle]="{
          'max-height': cardSize + 'px',
          'min-height': cardSize + 'px'
        }"
      >
        <span class="text-left">Accept<br />Draw?</span>
      </div>

      <div class="flex flex-1">
        <icon-button
          class="flex-1"
          matTooltip="Accept draw"
          matTooltipPosition="below"
          iconString="check"
          iconClass="material-symbols-outlined"
          (clicked)="acceptDraw()"
        ></icon-button>
        <icon-button
          class="flex-1"
          matTooltip="Deny draw"
          matTooltipPosition="below"
          iconString="close"
          iconClass="material-symbols-outlined"
          (clicked)="denyDraw()"
        ></icon-button>
      </div>
    </div>
  }
</div>
