<div
  class="overflow-hidden"
  [ngStyle]="{
    'max-height': cardSize + 'px',
    'min-height': cardSize + 'px'
  }"
>
  @if (!isPlacingMultipleCards && !hasPendingDrawOffer) {
    <game-opponent-hand
      [cardSize]="cardSize"
      [numCards]="numCardsInOpponentsHand"
    ></game-opponent-hand>
  }

  @if (isPlacingMultipleCards) {
    <div
      class="rounded-sm bg-gray-50 flex justify-between overflow-hidden shadow-md"
    >
      <div
        class="text-gray-800 px-2 font-semibold text-center flex flex-col justify-around flex-1"
        [ngStyle]="{
          'min-width': cardSize + 'px'
        }"
      >
        <span class="text-left">Place<br />Cards?</span>
      </div>

      <div class="flex flex-1">
        <icon-button
          class="flex-1"
          data-testid="place-cards-button"
          matTooltip="Confirm"
          matTooltipPosition="below"
          iconString="check"
          iconClass="material-symbols-outlined"
          (clicked)="confirmPlaceMultipleCards()"
        ></icon-button>
        <icon-button
          class="flex-1"
          data-testid="cancel-place-cards-button"
          matTooltip="Cancel"
          matTooltipPosition="below"
          iconString="close"
          iconClass="material-symbols-outlined"
          (clicked)="cancelPlaceMultipleCards()"
        ></icon-button>
      </div>
    </div>
  }

  @if (!isPlacingMultipleCards && hasPendingDrawOffer) {
    <div
      class="buttons-container rounded-sm bg-gray-50 flex justify-between overflow-hidden shadow-md flex"
    >
      <div
        class="text-gray-800 px-2 font-semibold text-center flex flex-col justify-around flex-1"
        [ngStyle]="{
          'min-width': cardSize + 'px'
        }"
      >
        <span class="text-left">Accept<br />Draw?</span>
      </div>

      <div class="flex flex-1">
        <icon-button
          class="flex-1"
          matTooltip="Accept draw"
          matTooltipPosition="below"
          iconString="check"
          iconClass="material-symbols-outlined"
          (clicked)="acceptDraw()"
        ></icon-button>
        <icon-button
          class="flex-1"
          matTooltip="Deny draw"
          matTooltipPosition="below"
          iconString="close"
          iconClass="material-symbols-outlined"
          (clicked)="denyDraw()"
        ></icon-button>
      </div>
    </div>
  }
</div>
