<div class="deck" *ngIf="totalNumCards">
  <app-face-down-card
    *ngFor="let _ of [].constructor(numCardsToDisplay); let cardIndex = index"
    [ngStyle]="{
      position: 'absolute',
      right: getCardRight(cardIndex),
      'z-index': cardIndex,
      height: getCardHeight()
    }"
  >
  </app-face-down-card>
  <span
    [ngStyle]="{
      position: 'absolute',
      top: getCardCountTop(),
      'font-size': getCardCountFontSize()
    }"
    [ngClass]="{
      'right-side': rightSide,
      'left-side': !rightSide
    }"
    >{{ totalNumCards.toString() }}</span
  >
</div>
