<div class="deck" *ngIf="totalNumCards">
  <app-face-down-card
    *ngFor="let _ of [].constructor(numCardsToDisplay); let i = index"
    [ngStyle]="{
      position: 'absolute',
      right: rightSide
        ? 'calc((' +
          i +
          ' * -6px) - ' +
          (responsiveSizeService.cardSize$ | async) +
          'px)'
        : 'calc((' + i + ' * 6px))',
      'z-index': i,
      height: (responsiveSizeService.cardSize$ | async) + 'px'
    }"
  >
  </app-face-down-card>
  <span
    [ngStyle]="{
      position: 'absolute',
      top:
        'calc(' + (responsiveSizeService.cardSize$ | async) + 'px + ' + '4px)',
      left: rightSide
        ? ((responsiveSizeService.cardSize$ | async) ?? 64) + 'px'
        : ((responsiveSizeService.cardSize$ | async) ?? 64) * -0.25 + 'px'
    }"
    >{{ totalNumCards.toString() }}</span
  >
</div>
