<div class="select-tutorial-container" *ngIf="!(currentTutorial$ | async)">
  <h3>How to play</h3>

  <div class="horisontal-align back-button">
    <div class="tutorial-buttons-container">
      <app-tutorial-button
        [tutorial]="Tutorial.TheBasics"
      ></app-tutorial-button>
      <app-tutorial-button
        [tutorial]="Tutorial.CapturingTheMiddle"
      ></app-tutorial-button>
      <app-tutorial-button
        [tutorial]="Tutorial.CapturingALane"
      ></app-tutorial-button>
      <app-tutorial-button
        [tutorial]="Tutorial.PlayingMultipleCards"
      ></app-tutorial-button>
      <app-tutorial-button
        [tutorial]="Tutorial.ReinforcingCards"
      ></app-tutorial-button>
    </div>

    <button
      mat-raised-button
      class="big-button"
      color="basic"
      (click)="onBack()"
    >
      Back
    </button>
  </div>
</div>

<div
  *ngIf="(currentTutorial$ | async) === Tutorial.TheBasics"
  class="tutorial-container"
>
  <div>
    <h1>{{ currentTutorial$ | async }}</h1>
    <p>
      The goal of Lanes is to capture 2 of the 5 lanes on the board. The board's
      columns are the lanes.
    </p>
    <app-board></app-board>
  </div>
</div>
