:host {
  display: flex;
  justify-content: space-around;
}

.board {
  display: flex;
}

.lanes {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.reverse-lanes-horisontally {
  flex-direction: row-reverse;
}
