<div
  class="board"
  [ngStyle]="{
    padding: cardSize / 3 + 'px 0px'
  }"
>
  <!-- Place multiple cards overlay -->
  <div
    *ngIf="initialPlaceMultipleCardAttempt"
    [ngStyle]="{
      position: 'absolute',
      'z-index': Z_INDEXES.PLACE_MULTIPLE_CARDS_OVERLAY,
      'background-color': 'black',
      opacity: 0.8,
      height: cardSize * 7 + 'px',
      width: cardSize * 5 + 'px',
      'border-radius': '4px',
      overflow: 'hidden'
    }"
  ></div>

  <div class="lanes">
    <ng-container
      *ngFor="let lane of playerGameState.Lanes; let laneIndex = index"
    >
      <ng-container
        *ngIf="
          initialPlaceMultipleCardAttempt?.TargetLaneIndex === laneIndex;
          else regularLane
        "
        ><app-place-multiple-cards-lane></app-place-multiple-cards-lane
      ></ng-container>

      <ng-template #regularLane>
        <app-lane
          [lane]="lane"
          [laneIndex]="laneIndex"
          [isHost]="playerGameState.IsHost"
          [redJokerLaneIndex]="playerGameState.RedJokerLaneIndex"
          [blackJokerLaneIndex]="playerGameState.BlackJokerLaneIndex"
          (placeCardAttempted)="onPlaceCardAttempted($event)"
        ></app-lane>
      </ng-template>
    </ng-container>
  </div>
</div>
