.sidebar {
  height: 100%;
  background-color: #33312e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.branding-and-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sidebar-icon {
  color: white;
  text-align: center;
}

.branding {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
  text-transform: uppercase;
}

.deck-count {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 600;
}
