<nav
  class="sidebar"
  [ngStyle]="{
    width: cardSize + 'px'
  }"
>
  <div
    class="branding"
    [ngStyle]="{
      height: cardSize + 'px'
    }"
  >
    <span>Lanes</span>
  </div>
  <app-sidebar-item
    [disabled]="!!(waitingForServer$ | async)"
    [itemHeight]="cardSize"
    [iconSize]="cardSize / 2"
    matTooltip="Pass move"
    matTooltipPosition="right"
    materialSymbol="waving_hand"
    (selected)="attemptToOpenPassMoveModal()"
  ></app-sidebar-item>
  <app-sidebar-item
    [disabled]="!!(waitingForServer$ | async)"
    [itemHeight]="cardSize"
    [iconSize]="cardSize / 2"
    matTooltip="Offer draw"
    matTooltipPosition="right"
    materialSymbol="handshake"
    (selected)="attemptToOpenOfferDrawModel()"
  ></app-sidebar-item>
  <app-sidebar-item
    [disabled]="!!(waitingForServer$ | async)"
    [itemHeight]="cardSize"
    [iconSize]="cardSize / 2"
    matTooltip="Resign"
    matTooltipPosition="right"
    materialSymbol="cancel"
    (selected)="openResignModal()"
  ></app-sidebar-item>

  <div
    *ngIf="numCardsInOpponentDeck !== null && numCardsInPlayerDeck !== null"
    class="divider"
    [ngStyle]="{
      margin: cardSize / 3.5 + 'px 8px'
    }"
  ></div>

  <div
    *ngIf="numCardsInOpponentDeck !== null && numCardsInPlayerDeck !== null"
    class="game-stats"
  >
    <div class="remaining-time">{{ opponentsRemainingSecondsString }}</div>
    <div class="deck-counts">
      <div class="deck-count">{{ numCardsInOpponentDeck }}</div>
      <app-face-down-card></app-face-down-card>
      <app-face-down-card></app-face-down-card>
      <div class="deck-count">{{ numCardsInPlayerDeck }}</div>
    </div>
    <div class="remaining-time">{{ playersRemainingSecondsString }}</div>
  </div>
</nav>
