<nav
  class="sidebar"
  [ngStyle]="{
    width: cardSize + 'px'
  }"
>
  <div class="branding-and-items">
    <div
      class="branding"
      [ngStyle]="{
        height: cardSize + 'px'
      }"
    >
      <span>Lanes</span>
    </div>
    <app-sidebar-item
      [itemHeight]="cardSize"
      [iconSize]="cardSize / 2"
      matTooltip="Offer draw"
      matTooltipPosition="right"
      materialSymbol="handshake"
      (click)="attemptToOpenOfferDrawModel()"
    ></app-sidebar-item>
    <app-sidebar-item
      [itemHeight]="cardSize"
      [iconSize]="cardSize / 2"
      matTooltip="Pass move"
      matTooltipPosition="right"
      materialSymbol="waving_hand"
      (click)="attemptToOpenPassMoveModal()"
    ></app-sidebar-item>
  </div>

  <div
    class="deck-counts"
    [ngStyle]="{
      'margin-bottom': cardSize + 'px'
    }"
  >
    <div class="deck-count">{{ numCardsInOpponentDeck }}</div>
    <app-face-down-card></app-face-down-card>
    <app-face-down-card></app-face-down-card>
    <div class="deck-count">{{ numCardsInPlayerDeck }}</div>
  </div>
</nav>
