<div class="background"></div>

<div class="particles"></div>

<div class="container">
  <ng-container [ngSwitch]="currentView">
    <app-host-view
      *ngSwitchCase="views.Host"
      (backButtonClicked)="onHostBackButtonClicked()"
    ></app-host-view>
    <app-join-view
      *ngSwitchCase="views.Join"
      (backButtonClicked)="onJoinBackButtonClicked()"
    ></app-join-view>
    <app-game-view
      *ngSwitchCase="views.Game"
      (gameEnded)="onGameEnded()"
    ></app-game-view>
    <app-host-or-join-view
      *ngSwitchCase="views.HostOrJoin"
      (backButtonClicked)="onHostBackButtonClicked()"
    ></app-host-or-join-view>
    <app-home-view
      *ngSwitchDefault
      (howToPlayClicked)="onHowToPlay()"
      (playAsGuestClicked)="onPlayAsGuest()"
      (loginClicked)="onLogin()"
    ></app-home-view>
  </ng-container>
</div>
