<div class="container">
  <div class="horisontal-align">
    <p>Enter your opponents game code here:</p>
  </div>

  <br />

  <div class="horisontal-align">
    <div class="game-code-input-container">
      <input
        matInput
        class="game-code-input"
        maxlength="4"
        [(ngModel)]="gameCodeInput"
        (ngModelChange)="onInputChanged()"
        name="game-code-input"
      />
    </div>
  </div>

  <br />

  <div class="invalid-game-code-message">
    <span *ngIf="gameCodeIsInvalid"> Invalid game code!</span>
  </div>
</div>

<div class="horisontal-align back-button">
  <button mat-raised-button class="big-button" color="white" (click)="onBack()">
    Back
  </button>
</div>
