<div class="container">
  <div class="horisontal-align">
    <p>Enter your opponents game code here:</p>
  </div>
  <br />
  <div class="horisontal-align">
    <div class="game-code-input-container">
      <input
        matInput
        class="game-code-input"
        maxlength="4"
        [(ngModel)]="gameCodeInput"
        (ngModelChange)="onInputChanged()"
        name="game-code-input"
      />
    </div>
  </div>

  <div class="invalid-game-code-message" *ngIf="invalidGameCode">
    Invalid game code!
  </div>
</div>
