.container {
  height: 200px;
  margin: 0 auto;
  width: 50%;
  margin-top: 7.5rem;
}

.horisontal-align {
  display: flex;
  justify-content: space-around;
}

.game-code-input-container {
  display: flex;
  flex-direction: space-around;
}

.game-code-input {
  background: 0;
  border: 0;
  outline: none;
  width: 80vw;
  max-width: 400px;
  font-size: 1.5em;
  transition: padding 0.3s 0.2s ease;
  border-bottom: 1px solid grey;
  text-align: center;
  font-size: 28px;
  letter-spacing: 14px;
  width: 200px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.invalid-game-code-message {
  color: crimson;
  font-size: 18px;
  text-align: center;
}
