@if ((currentSequence$ | async) !== null) {
  <div
    [ngStyle]="{
      'z-index': Z_INDEXES.ANIMATION_OVERLAY
    }"
    class="h-full w-full absolute left-0 right-0 top-0 bottom-0"
  >
    <div class="relative h-full w-full">
      @for (entity of animatedEntities$ | async; track i; let i = $index) {
        @if (
          entity.movement.terminalSequence === undefined ||
          entity.movement.terminalSequence === null ||
          entity.movement.terminalSequence > ((currentSequence$ | async) ?? 0)
        ) {
          @switch (entity.animationType) {
            @case (AnimationType.CardMovement) {
              <!-- Zero opacity ensures that the card doesn't quickly flicker on screen. It gains opacity from the applied animation. -->
              <div
                class="absolute opacity-0"
                [@cardMovement]="{
                  value:
                    entity.movement.sequence === (currentSequence$ | async)
                      ? 'in-progress'
                      : entity.movement.sequence <
                          ((currentSequence$ | async) ?? 0)
                        ? 'completed'
                        : 'todo',
                  params: {
                    fromX: entity.movement.from?.x ?? 100,
                    toX: entity.movement.to?.x ?? 100,
                    fromY: entity.movement.from?.y ?? 100,
                    toY: entity.movement.to?.y ?? 100,
                    durationMs: entity.movement.durationMs
                  }
                }"
              >
                <ng-container
                  *ngTemplateOutlet="
                    entity.template;
                    context: { $implicit: entity }
                  "
                ></ng-container>
              </div>
            }
            @case (AnimationType.FadeOut) {
              <div
                class="absolute"
                [@fadeOut]="{
                  value:
                    entity.movement.sequence === (currentSequence$ | async)
                      ? 'in-progress'
                      : entity.movement.sequence <
                          ((currentSequence$ | async) ?? 0)
                        ? 'completed'
                        : 'todo',
                  params: {
                    x: entity.movement.from?.x,
                    y: entity.movement.from?.y,
                    durationMs: entity.movement.durationMs
                  }
                }"
              >
                <ng-container
                  *ngTemplateOutlet="
                    entity.template;
                    context: { $implicit: entity }
                  "
                ></ng-container>
              </div>
            }
            @case (AnimationType.FadeIn) {
              <div
                class="absolute"
                [@fadeIn]="{
                  value:
                    entity.movement.sequence === (currentSequence$ | async)
                      ? 'in-progress'
                      : entity.movement.sequence <
                          ((currentSequence$ | async) ?? 0)
                        ? 'completed'
                        : 'todo',
                  params: {
                    x: entity.movement.to?.x,
                    y: entity.movement.to?.y,
                    durationMs: entity.movement.durationMs
                  }
                }"
              >
                <ng-container
                  *ngTemplateOutlet="
                    entity.template;
                    context: { $implicit: entity }
                  "
                ></ng-container>
              </div>
            }
          }
        }
      }
    </div>
  </div>
}
