<div class="container">
  <div class="content">
    <div class="title-container">
      <h1>Lanes</h1>
      <h2>The chess of cards.</h2>
    </div>

    <div class="button-container">
      <!-- <button
        mat-raised-button
        class="big-button"
        color="basic"
        (click)="onHowToPlay()"
      >
        How to play
      </button> -->
      <button
        class="big-button"
        mat-raised-button
        class="big-button"
        color="basic"
        (click)="onPlayAsGuest()"
      >
        Play as guest
      </button>
    </div>
  </div>
</div>

<div class="footer-link-container">
  <a href="https://www.jamesworden.com/" target="_blank" class="footer-link">
    James Worden &copy; {{ currentYear }}
  </a>
</div>
