:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem;
  height: 300px;
  margin-top: 5.5rem;
  min-height: 450px;
}

h1 {
  text-align: center;
  font-weight: 100;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
  margin-top: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
}

footer {
  background-color: white;
  padding: 22px;
  border-radius: 40px 40px 0 0;
  height: 10%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
  min-height: 64px;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.login-button-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.login-button {
  color: var(--red);
  font-size: 24px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-top: 24px;
}

/* .footer-link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-link {
  color: white;
  text-decoration: none;
} */
