<div class="container">
  <div class="horisontal-align">
    <p>Your game code is:</p>
  </div>

  <br />

  <div class="horisontal-align">
    <span class="game-code">{{ gameCode }}</span>
  </div>

  <br />

  <div class="game-options-container">
    <div class="game-option">
      <h3 class="game-option-title">Duration</h3>
      <div class="duration-options">
        <div
          [ngClass]="{
            selected: selectedDurationOption === DurationOption.FiveMinutes
          }"
          class="duration-option"
          (click)="selectDurationOption(DurationOption.FiveMinutes)"
        >
          <span>5 min</span>
        </div>
        <div
          [ngClass]="{
            selected: selectedDurationOption === DurationOption.ThreeMinutes
          }"
          class="duration-option"
          (click)="selectDurationOption(DurationOption.ThreeMinutes)"
        >
          <span>3 min</span>
        </div>
        <div
          [ngClass]="{
            selected: selectedDurationOption === DurationOption.OneMinute
          }"
          class="duration-option"
          (click)="selectDurationOption(DurationOption.OneMinute)"
        >
          <span>1 min</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="horisontal-align back-button">
  <button mat-raised-button class="big-button" color="basic" (click)="onBack()">
    Back
  </button>
</div>
