<div class="lane" *ngIf="playerGameState$ | async as playerGameState">
  <div
    id="place-multiple-cards-list"
    class="place-multiple-cards-list"
    cdkDropList
    cdkDropListData="place-multiple-cards-list"
    cdkDropListConnectedTo="player-hand"
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="onCardPlaced($event)"
    [cdkDropListEnterPredicate]="
      getEnterPredicate(initialPlaceMultipleCardAttempt$ | async)
    "
  >
    <app-card
      *ngFor="let card of placeMultipleCards$ | async"
      [card]="card"
      [cardImageFileName]="getCardImageFileName(card)"
      [playerCanDrag]="true"
    ></app-card>
  </div>

  <div class="existing-cards">
    <div
      class="existing-card-position"
      *ngFor="let card of previouslyCapturedCards$ | async"
    >
      <app-card
        [cardImageFileName]="getCardImageFileName(card)"
        [playerCanDrag]="false"
      ></app-card>
    </div>
  </div>
</div>
