<div
  *ngIf="lane$ | async as lane"
  class="lane"
  [ngClass]="{ 'reverse-rows-vertically': !isHost }"
>
  <ng-container *ngFor="let position of positions$ | async">
    <app-position
      [laneIndex]="laneIndex"
      [rowIndex]="position.rowIndex"
      [backgroundColor]="position.backgroundColor"
      (placeCardAttempted)="onPlaceCardAttempted($event)"
    >
      <app-card
        *ngIf="position.topCard"
        [card]="position.topCard"
        [rowIndex]="position.rowIndex"
        [isHost]="isHost"
        [rotationDurationMs]="0"
        [lane]="lane"
      ></app-card>

      <ng-container *ngIf="position.rowIndex === 3">
        <app-joker-card
          *ngIf="redJokerLaneIndex === laneIndex"
          [isRedJoker]="true"
        ></app-joker-card>

        <app-joker-card
          *ngIf="blackJokerLaneIndex === laneIndex"
          [isRedJoker]="false"
        ></app-joker-card>
      </ng-container>
    </app-position>
  </ng-container>
</div>
