<div
  class="lane"
  [ngStyle]="{
    'background-color': getLaneBackgroundColor()
  }"
>
  <ng-container
    *ngFor="
      let row of isHost ? lane.Rows : lane.Rows.slice().reverse();
      let rowIndex = index
    "
  >
    <app-position
      [laneIndex]="laneIndex"
      [rowIndex]="isHost ? rowIndex : 6 - rowIndex"
      (placeCardAttempted)="onPlaceCardAttempted($event)"
    >
      <app-card
        *ngIf="row.length > 0"
        [backgroundColor]="getCardBackgroundColor(getTopCard(row))"
        [card]="getTopCard(row)"
        [cardImageFileName]="getCardImageFileName(getTopCard(row))"
        [isMiddleCard]="rowIndex === 3"
        [isPlayedBy]="getTopCard(row).PlayedBy"
        [isHost]="false"
      ></app-card>

      <app-card
        *ngIf="
          row.length <= 0 &&
          this.lane.WonBy != PlayerOrNone.None &&
          rowIndex === 3
        "
        [cardImageFileName]="
          getJokerImageFileName(
            laneIndex,
            redJokerLaneIndex,
            blackJokerLaneIndex
          )
        "
        [isMiddleCard]="rowIndex === 3"
        [isPlayedBy]="lane.WonBy"
        [isHost]="false"
      ></app-card>
    </app-position>
  </ng-container>
</div>
