<div class="flex justify-around py-2">
  <button
    class="flex flex-col justify-around"
    [ngStyle]="{
      height: itemHeight + 'px',
      width: itemWidth ? itemWidth + 'px' : '100%'
    }"
    [matTooltip]="tooltip"
    matTooltipPosition="right"
    (click)="onClick()"
  >
    <span
      class="material-symbols-outlined w-full"
      [ngStyle]="{
        'font-size': iconSize + 'px',
        height: iconSize + 'px',
        color: iconColor,
        opacity: disabled ? 0.5 : 1
      }"
      >{{ materialSymbol }}</span
    >

    @if (label) {
      <div class="w-full flex justify-around sm:text-sm md:text-md">
        <span
          class="lanes-font"
          [ngStyle]="{
            color: iconColor
          }"
          >{{ label }}</span
        >
      </div>
    }
  </button>
</div>
