<li
  class="sidebar-item"
  (click)="onClick()"
  [ngStyle]="{
    height: itemHeight + 'px',
    width: itemWidth ? itemWidth + 'px' : '100%'
  }"
  [matTooltip]="tooltip"
  matTooltipPosition="right"
>
  <button
    class="sidebar-button"
    mat-button
    [ngStyle]="{
      height: itemHeight + 'px'
    }"
  >
    <span
      class="material-symbols-outlined sidebar-icon"
      [ngStyle]="{
        'font-size': iconSize + 'px',
        height: iconSize + 'px',
        color: iconColor,
        opacity: disabled ? 0.5 : 1
      }"
      >{{ materialSymbol }}</span
    >
  </button>
</li>
