<div
  class="py-2 flex justify-around text-white flex-1 transition bg-gray-600 dark:bg-gray-800"
  [ngClass]="{
    'bg-gray-700 dark:bg-gray-900': isActive,
    'cursor-pointer': clickable
  }"
  (click)="onClick()"
>
  <div class="flex flex-col">
    <div class="flex justify-around">
      <span [class]="iconClass" style="font-size: 26px">
        {{ iconString }}
      </span>
    </div>

    <div class="flex justify-around text-sm md:text-md">
      <span>{{ title }}</span>
    </div>
  </div>
</div>
