<div *ngIf="!gameIsRunning">
  <span *ngIf="gameOverMessage">❌ Game Over: {{ gameOverMessage }} ❌</span>
</div>

<div class="game-container">
  <div class="game" *ngIf="playerGameState$ | async as playerGameState">
    <div class="opponent-hand">
      <app-face-down-card
        *ngFor="
          let _ of [].constructor(playerGameState.NumCardsInOpponentsHand)
        "
      ></app-face-down-card>
    </div>

    <div class="board">
      <div class="lane" *ngFor="let lane of playerGameState.Lanes">
        <ng-container *ngFor="let row of lane.Rows; let i = index">
          <app-card
            *ngIf="row.length > 0; else emptySpace"
            [cardImageFileName]="getCardImageFileName(getTopCard(row))"
          ></app-card>
        </ng-container>
      </div>
    </div>

    <div class="player-hand">
      <app-card
        *ngFor="let card of playerGameState.Hand.Cards"
        [cardImageFileName]="getCardImageFileName(card)"
      ></app-card>
    </div>
  </div>
</div>

<ng-template #emptySpace>
  <app-card cardImageFileName="card_empty.png"></app-card>
</ng-template>
