<div *ngIf="!gameIsRunning">
  <span *ngIf="gameOverMessage">❌ Game Over: {{ gameOverMessage }} ❌</span>
</div>

<div class="game-container">
  <div
    class="game"
    *ngIf="playerGameState$ | async as playerGameState"
    cdkDropListGroup
  >
    <div class="opponent-hand">
      <app-face-down-card
        *ngFor="
          let _ of [].constructor(playerGameState.NumCardsInOpponentsHand)
        "
      ></app-face-down-card>
    </div>

    <div class="board">
      <div class="gutter">
        <ng-content *ngIf="playerGameState.IsHost; else decks"></ng-content>
      </div>

      <div class="lane" *ngFor="let lane of playerGameState.Lanes">
        <ng-container *ngFor="let row of lane.Rows; let i = index">
          <app-card
            *ngIf="row.length > 0; else emptySpace"
            [cardImageFileName]="getCardImageFileName(getTopCard(row))"
          ></app-card>
        </ng-container>
      </div>

      <div class="gutter">
        <ng-content *ngIf="!playerGameState.IsHost; else decks"></ng-content>
      </div>
    </div>

    <div class="player-hand" cdkDropList>
      <app-card
        *ngFor="let card of playerGameState.Hand.Cards"
        [cardImageFileName]="getCardImageFileName(card)"
        [playerCanDrag]="true"
      ></app-card>
    </div>

    <ng-template #decks>
      <app-deck
        [totalNumCards]="playerGameState.NumCardsInOpponentsDeck"
        [onRightSide]="playerGameState.IsHost"
      ></app-deck>

      <app-deck
        [totalNumCards]="playerGameState.NumCardsInPlayersDeck"
        [onRightSide]="playerGameState.IsHost"
      ></app-deck>
    </ng-template>
  </div>
</div>

<ng-template #emptySpace>
  <app-empty-space></app-empty-space>
</ng-template>
