:host {
  --outer-padding: 16px;
}

.game-container {
  display: flex;
  justify-content: space-around;
}

.game {
  max-width: 500px;
}

.opponent-hand {
  display: flex;
  padding: --outer-padding;
  padding-bottom: 0;
  justify-content: space-around;
}

.board {
  display: flex;
  justify-content: space-around;
}

.lane {
  display: flex;
  flex-direction: column;
}
