<animation-overlay
  [animatedEntities]="(gameStateEntities$ | async) ?? []"
  (finishedAnimations)="renderAnimatedGameView()"
  (startingAnimations)="removeCardsFromBoardAndOpponentHand($event)"
></animation-overlay>

<animation-overlay
  [animatedEntities]="(toPlaceMultipleLaneEntities$ | async) ?? []"
  (finishedAnimations)="addCardToPlaceMultipleCardsLane($event)"
  (startingAnimations)="removeCardsFromPlaceMultipleHand($event)"
></animation-overlay>

<animation-overlay
  [animatedEntities]="(fromPlaceMultipleLaneEntities$ | async) ?? []"
  (finishedAnimations)="addCardsToHandFromPlaceMultipleLane($event)"
></animation-overlay>

<div
  class="fixed top-0 left-0 min-h-[calc(100dvh)] max-h-[calc(100dvh)] flex justify-between w-full dark:bg-gray-700 bg-gray-300 transition"
  [@fadeInOut]
>
  <app-sidebar
    [isPlayersTurn]="isPlayersTurn"
    [selectedPosition]="selectedPosition$ | async"
    [cardStack]="cardStack$ | async"
    (drawOffered)="offerDraw()"
    (passedMove)="passMove()"
    (resigned)="resign()"
  ></app-sidebar>

  <div class="flex flex-col flex-1">
    <app-game-view-navbar
      class="flex lg:hidden"
      [selectedTab]="(selectedGameViewTab$ | async) ?? GameViewTab.Board"
      (tabSelected)="selectGameViewTab($event)"
    ></app-game-view-navbar>

    <div class="flex-1">
      @if ((selectedGameViewTab$ | async) === GameViewTab.Board) {
        <ng-container [ngTemplateOutlet]="boardView"></ng-container>
      }

      @if ((selectedGameViewTab$ | async) === GameViewTab.Moves) {
        <ng-container [ngTemplateOutlet]="movesView"></ng-container>
      }
    </div>
  </div>

  <!-- flex placeholder div -->
  <div></div>
</div>

<ng-template #cardMovementTemplate let-animatedEntity>
  @if (animatedEntity.context.Card) {
    @if (playerGameViewToAnimate$ | async; as playerGameViewToAnimate) {
      <game-card [card]="animatedEntity.context.Card"></game-card>
    }
  } @else {
    <game-face-down-card></game-face-down-card>
  }
</ng-template>

<ng-template #boardView>
  <div class="flex justify-around w-full h-full">
    <div class="flex justify-around">
      @if (playerGameView$ | async; as playerGameView) {
        <div
          class="game flex flex-col justify-between h-full lg:pl-8"
          cdkDropListGroup
        >
          <div>
            <app-player-banner
              [username]="
                playerGameView.IsHost ? 'Guest Player' : 'Host Player'
              "
              class="rounded-b-md transition h-sm-hidden"
              [ngClass]="{
                'bg-rose-700': !isPlayersTurn,
                'bg-rose-900': isPlayersTurn
              }"
            ></app-player-banner>
          </div>

          <app-opponent-hand-toolbar
            [numCardsInOpponentsHand]="playerGameView.NumCardsInOpponentsHand"
            [cardSize]="(cardSize$ | async) ?? 64"
            [hasPendingDrawOffer]="(hasPendingDrawOffer$ | async) ?? false"
            [isPlacingMultipleCards]="
              (isPlacingMultipleCards$ | async) ?? false
            "
            (drawDenied)="denyDraw()"
            (drawAccepted)="acceptDraw()"
            (placeMultipleCardsConfirmed)="confirmPlaceMultipleCards()"
            (placeMultipleCardsCanceled)="cancelPlaceMultipleCards()"
          ></app-opponent-hand-toolbar>

          @if (
            (visiblePastGameState$ | async) ??
              (latestGameViewSnapshot$ | async);
            as latestGameViewSnapshot
          ) {
            <game-board
              #board
              [playerGameView]="latestGameViewSnapshot"
              [isPlacingMultipleCards]="isPlacingMultipleCards$ | async"
              [initialPlaceMultipleCardAttempt]="
                initialPlaceMultipleCardAttempt$ | async
              "
              [isPlayersTurn]="isPlayersTurn"
              [placeMultipleCards]="placeMultipleCards$ | async"
              [placeMultipleCardsHand]="placeMultipleCardsHand$ | async"
              [selectedCard]="selectedCard$ | async"
              [selectedPosition]="selectedPosition$ | async"
              (placeCardAttempted)="attemptToPlaceCard($event)"
              (setPlaceMultipleCards)="placedMultipleCards($event)"
              (setPlaceMultipleCardsHand)="placedMultipleCardsHand($event)"
              (positionClicked)="onPositionClicked($event)"
              (placeMultipleCardsListClicked)="
                moveSelectedCardToPlaceMultipleList()
              "
            ></game-board>
          }

          <game-player-hand
            #playerHand
            [isPlacingMultipleCards]="isPlacingMultipleCards"
            [isHost]="playerGameView.IsHost"
            [cards]="playerGameView.Hand.Cards"
            [cardSize]="(cardSize$ | async)!"
            [disabled]="!!(waitingForServer$ | async)"
            [isPlayersTurn]="isPlayersTurn"
            [placeMultipleCardsHand]="placeMultipleCardsHand$ | async"
            [isGameActive]="(gameIsActive$ | async) ?? false"
            [initialPlaceMultipleCardsAttempt]="
              initialPlaceMultipleCardAttempt$ | async
            "
            [selectedCard]="selectedCard$ | async"
            [unfadedKind]="
              (initialPlaceMultipleCardAttempt$ | async)?.Card?.Kind ?? null
            "
            [connectedToDropList]="
              isPlacingMultipleCards ? 'place-multiple-cards-list' : 'position'
            "
            [fadeAllCards]="!isPlayersTurn"
            [suitAndKindHasValidMove]="(suitAndKindHasValidMove$ | async) ?? {}"
            (cardDropped)="onPlayerHandCardDrop($event)"
            (cardDragStarted)="onCardDragStarted($event)"
            (cardDragEnded)="onCardDragEnded()"
            (cardClicked)="onCardClicked($event)"
          ></game-player-hand>

          <div>
            <app-player-banner
              [username]="
                playerGameView.IsHost ? 'Host Player' : 'Guest Player'
              "
              class="rounded-t-md transition h-sm-hidden"
              [ngClass]="{
                'bg-sky-700': isPlayersTurn,
                'bg-sky-900': !isPlayersTurn
              }"
            ></app-player-banner>
          </div>
        </div>
      }
    </div>

    @if (isShowingStatisticsPanel$ | async) {
      <ng-container [ngTemplateOutlet]="statisticsPanel"></ng-container>
    }
  </div>
</ng-template>

<ng-template #movesView>
  <div class="flex flex-col justify-between flex-1 h-full">
    @if (playerGameView$ | async; as playerGameView) {
      @if (
        (visiblePastGameState$ | async) ?? (latestGameViewSnapshot$ | async);
        as gameView
      ) {
        <div class="flex-1 flex flex-col justify-around">
          <game-board
            #board
            class="py-2"
            [playerGameView]="gameView"
            [isPlayersTurn]="isPlayersTurn"
            [placeMultipleCards]="placeMultipleCards$ | async"
            [placeMultipleCardsHand]="placeMultipleCardsHand$ | async"
            [selectedCard]="selectedCard$ | async"
            [selectedPosition]="selectedPosition$ | async"
            (positionClicked)="onPositionClicked($event)"
          ></game-board>
        </div>
      }
    }

    <ng-container [ngTemplateOutlet]="movesPanel"></ng-container>
  </div>
</ng-template>

<ng-template #movesPanel>
  <div
    resizable
    [minHeightPx]="((cardSize$ | async) ?? 64) * 2"
    [startHeightPx]="movesPanelHeight ?? ((cardSize$ | async) ?? 64) * 2"
    [verticalMaxHeightOffsetPx]="62"
    (heightChanged)="setMovesPanelHeight($event)"
    class="flex justify-around flex-col bg-gray-600 dark:bg-gray-800 transition sticky bottom-0"
    [ngStyle]="{
      'z-index': Z_INDEXES.MOVES_PANEL
    }"
  >
    <div #grabber class="flex justify-around cursor-row-resize py-1">
      <div class="bg-gray-200 w-24 h-1 rounded-lg"></div>
    </div>

    <div class="flex-1 flex flex-col h-full">
      <statistics-moves-pane
        class="flex-1"
        [moveNotations]="(moveNotations$ | async) ?? []"
        [isHost]="(playerGameView$ | async)?.IsHost ?? false"
        [selectedMoveNotationIndex]="selectedMoveNotationIndex$ | async"
        (moveNotationSelected)="selectMoveNotation($event)"
      ></statistics-moves-pane>
    </div>
  </div>
</ng-template>

<ng-template #statisticsPanel>
  <div
    class="m-8 rounded-md overflow-hidden flex-grow max-w-3xl shadow-lg flex"
  >
    <div class="flex flex-col bg-gray-600 dark:bg-gray-800 transition">
      <statistics-pane-nav-button
        iconClass="material-symbols-outlined"
        iconString="playing_cards"
        title="Stack"
        [isActive]="true"
        [clickable]="false"
      ></statistics-pane-nav-button>
      <card-stack
        class="h-full pb-4"
        [position]="selectedPosition$ | async"
        [cardStack]="cardStack$ | async"
        [cardSize]="(cardSize$ | async) ?? 64"
      ></card-stack>
    </div>

    <statistics-panel
      [moveNotations]="(moveNotations$ | async) ?? []"
      [isHost]="(playerGameView$ | async)?.IsHost ?? false"
      [selectedMoveNotationIndex]="selectedMoveNotationIndex$ | async"
      (moveNotationSelected)="selectMoveNotation($event)"
    ></statistics-panel>
  </div>
</ng-template>
