:host {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  height: 100%;
  width: 100%;
}

.center-horisontally {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.game {
  max-width: 500px;
}

.confirm-deny-buttons {
  background-color: white;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}

.draw-offer-buttons {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}

.accept-draw-text {
  color: var(--black);
  padding: 0px 8px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
