:host {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  height: 100%;
  width: 100%;
}

.center-horisontally {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.game {
  max-width: 500px;
}

.button-toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
