:host {
  --gutter-width: 32px;
}

.game-container {
  display: flex;
  justify-content: space-around;
}

.game {
  max-width: 500px;
}

.opponent-hand {
  display: flex;
  padding: --outer-padding;
  padding-bottom: 0;
  justify-content: space-around;
  margin-top: -32px;
  padding: 0px var(--gutter-width);
}

.board {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}

.player-hand {
  margin: 0px var(--gutter-width);
}

.lane {
  display: flex;
  flex-direction: column;
}

.gutter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--gutter-width);
}
.button-toolbar {
  display: flex;
  justify-content: space-between;
}
