<app-sidebar [isPlayersTurn]="isPlayersTurn"></app-sidebar>

<div class="center-horisontally">
  <div class="game-container">
    <div
      class="game"
      *ngIf="playerGameState$ | async as playerGameState"
      cdkDropListGroup
    >
      <ng-container [ngTemplateOutlet]="opponentHandToolbar"></ng-container>

      <app-board
        [playerGameState]="latestGameStateSnapshot"
        [isPlacingMultipleCards]="isPlacingMultipleCards$ | async"
        [initialPlaceMultipleCardAttempt]="
          initialPlaceMultipleCardAttempt$ | async
        "
        (placeCardAttempted)="onPlaceCardAttempted($event)"
      ></app-board>

      <app-player-hand
        [isPlacingMultipleCards]="isPlacingMultipleCards"
        [isHost]="playerGameState.IsHost"
        [cards]="playerGameState.Hand.Cards"
        [cardSize]="cardSize"
        [disabled]="!isPlayersTurn"
        (cardDropped)="onPlayerHandCardDrop($event)"
      ></app-player-hand>
    </div>
  </div>
</div>

<ng-template #opponentHandToolbar>
  <ng-container
    *ngIf="
      !(isPlacingMultipleCards$ | async) && !(hasPendingDrawOffer$ | async)
    "
  >
    <app-opponent-hand
      [cardSize]="cardSize"
      [numCards]="(playerGameState$ | async)!.NumCardsInOpponentsHand"
    ></app-opponent-hand>
  </ng-container>

  <ng-container *ngIf="isPlacingMultipleCards$ | async">
    <div class="buttons-container">
      <div
        class="button-question"
        [ngStyle]="{
          'min-width': cardSize + 'px'
        }"
      >
        <span>Place<br />Cards?</span>
      </div>

      <div style="display: flex">
        <app-sidebar-item
          [itemHeight]="cardSize"
          [iconSize]="cardSize / 2"
          iconColor="#33312e"
          matTooltip="Confirm"
          matTooltipPosition="below"
          materialSymbol="check"
          (click)="onConfirmButtonClicked()"
        ></app-sidebar-item>
        <app-sidebar-item
          [itemHeight]="cardSize"
          [iconSize]="cardSize / 2"
          iconColor="#33312e"
          matTooltip="Cancel"
          matTooltipPosition="below"
          materialSymbol="close"
          (click)="onCancelButtonClicked()"
        ></app-sidebar-item>
      </div>
    </div>
  </ng-container>

  <ng-container
    *ngIf="!(isPlacingMultipleCards$ | async) && (hasPendingDrawOffer$ | async)"
  >
    <div class="buttons-container">
      <div
        class="button-question"
        [ngStyle]="{
          'min-width': cardSize + 'px'
        }"
      >
        <span>Accept<br />Draw?</span>
      </div>

      <div style="display: flex">
        <app-sidebar-item
          [itemWidth]="cardSize"
          [itemHeight]="cardSize"
          [iconSize]="cardSize / 2"
          iconColor="#33312e"
          matTooltip="Accept draw"
          matTooltipPosition="below"
          materialSymbol="check"
          (click)="acceptDraw()"
        ></app-sidebar-item>
        <app-sidebar-item
          [itemHeight]="cardSize"
          [iconSize]="cardSize / 2"
          iconColor="#33312e"
          matTooltip="Deny draw"
          matTooltipPosition="below"
          materialSymbol="close"
          (click)="denyDraw()"
        ></app-sidebar-item>
      </div>
    </div>
  </ng-container>
</ng-template>
