.lane {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.place-multiple-cards-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 2px rgb(194, 194, 194);
}

.existing-cards {
  display: flex;
  flex-direction: column-reverse;
}

.existing-card-position {
  display: flex;
  justify-content: space-around;
}
