<ng-container
  *ngIf="
    initialPlaceMultipleCardAttempt$ | async as initialPlaceMultipleCardAttempt
  "
>
  <div class="lane" *ngIf="playerGameView$ | async">
    <!-- Pseudo-position background beneath actual card list -->
    <div
      class="absolute flex flex-col-reverse"
      [ngStyle]="{
        'z-index': Z_INDEXES.PLACE_MULTIPLE_CARDS_LANE_BACKGROUND
      }"
    >
      @for (position of pseudoPositions; track i; let i = $index) {
        <app-position
          [laneIndex]="initialPlaceMultipleCardAttempt.TargetLaneIndex"
          [rowIndex]="position.rowIndex"
          [backgroundClass]="position.backgroundClass"
          [textClass]="position.textClass"
          [isHost]="isHost"
          [dragDropDisabled]="true"
        ></app-position>
      }
    </div>

    <div
      id="place-multiple-cards-list"
      class="place-multiple-cards-list"
      cdkDropList
      cdkDropListData="place-multiple-cards-list"
      cdkDropListConnectedTo="player-hand"
      cdkDropListOrientation="vertical"
      (cdkDropListDropped)="onCardPlaced($event)"
      [cdkDropListEnterPredicate]="
        getEnterPredicate(initialPlaceMultipleCardAttempt)
      "
      [ngStyle]="{
        'z-index': Z_INDEXES.PLACE_MULTIPLE_CARDS,
        'min-height': MIN_CARD_HEIGHT_FACTOR * (cardSize$ | async)! + 'px',
        width: (cardSize$ | async)! + 'px'
      }"
    >
      @for (card of placeMultipleCards$ | async; track i; let i = $index) {
        <app-card
          [card]="card"
          [playerCanDrag]="true"
          [insideVerticalContainer]="true"
        ></app-card>
      }
    </div>

    <div
      class="existing-cards"
      [ngStyle]="{
        'z-index': Z_INDEXES.PLACE_MULTIPLE_CARDS
      }"
    >
      @for (card of previouslyCapturedCards$ | async; track i; let i = $index) {
        <div class="existing-card-position">
          <app-card [card]="card" [playerCanDrag]="false"></app-card>
        </div>
      }
    </div>
  </div>
</ng-container>
