.lane {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.place-multiple-cards-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.existing-cards {
  display: flex;
  flex-direction: column-reverse;
}

.existing-card-position {
  display: flex;
  justify-content: space-around;
}
