<div class="horisontal-align">
  <div class="button-container">
    <button
      mat-raised-button
      class="big-button"
      color="basic"
      (click)="onHostGame()"
    >
      Host Game
    </button>
    <button
      mat-raised-button
      class="big-button"
      color="basic"
      (click)="onJoinGame()"
    >
      Join Game
    </button>
  </div>
</div>

<div class="horisontal-align back-button">
  <button mat-raised-button class="big-button" color="basic" (click)="onBack()">
    Back
  </button>
</div>
